.fw-bold {
    font-weight: 600 !important;
}

.line-clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}